<br><br>
<div class="container">
  <div class="card">
    <div class="card-header" style="background-color:#f8f9fc;">
      Order analysis
    </div>
    <div class="card-body">
      <%= column_chart Order.group_by_day(:created_at).count, xtitle: "Time", ytitle: "Count" %>
    </div>
  </div><br>

  <div class="card">
    <div class="card-header" style="background-color:#f8f9fc;">
      User register analysis
    </div>
    <div class="card-body">
      <%= area_chart User.group_by_day(:created_at).count, xtitle: "Time", ytitle: "Number" %>
    </div>
  </div><br>

  <div class="card">
    <div class="card-header" style="background-color:#f8f9fc;">
      Projects category number analysis
    </div>
    <div class="card-body">
      <%= pie_chart @category_array %>
    </div>
  </div><br>

  <div class="card">
    <div class="card-header" style="background-color:#f8f9fc;">
      Projects location analysis
    </div>
    <div class="card-body">
      <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
  </div><br>

</div>
<%= javascript_include_tag "plugin.js" %>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmMsed0zPFAgZoiy8oORF6kZTurpIrdg0&libraries=visualization&callback=initMap">
</script>